<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".AllInOneApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@null"
        android:fullBackupContent="@null"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllinOne">

        <receiver android:name=".ReminderReceiver" android:exported="false" />
        <receiver android:name=".DailyReminderReceiver" android:exported="false" />
        <receiver android:name=".BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HabitTrackerActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity android:name=".TaskActivity" android:exported="false" />
        <activity android:name=".WorkoutRoutineActivity" android:exported="false" />
        <activity android:name=".NotesActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity android:name=".FinanceActivity" android:exported="false" />
        <activity android:name=".SettingsActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity android:name=".ProjectActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".AssistantActivity" />
        <activity android:name=".AssistantFeedActivity" />
        <activity android:name=".AssistantHistoryActivity" />
        <activity android:name=".AssistantSessionDetailActivity" />
        <activity android:name=".PerformanceHistoryActivity" />
        <activity android:name=".ProjectHistoryActivity" />
        <activity android:name=".LockActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".AddHabitActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".AddWorkoutActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".AddNoteActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".AddProjectActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ViewProjectActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".EditProjectActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".AddFinanceActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".AddTaskActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".AddSubFeatureActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".AddIdeaActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".HabitSettingsActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".WorkoutSettingsActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".TaskSettingsActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".NoteSettingsActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".FinanceSettingsActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ProjectSettingsActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".NotificationSettingsActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".LedgerActivity" />
        <activity android:name=".LedgerHistoryActivity" />
        <activity android:name=".PersonLedgerActivity" />
        <activity android:name=".PersonalLedgerHubActivity" />
        <activity android:name=".PersonalLedgerBookActivity" />
        <activity android:name=".AddPersonActivity" />
        <activity android:name=".FinanceHistoryActivity" />
        <activity android:name=".FinanceMonthHistoryActivity" />
        <activity android:name=".HabitDetailActivity" />
        <activity android:name=".WorkoutDetailActivity" />
        <activity android:name=".TimerActivity" />
        <activity android:name=".AiAssistantIntroActivity" />
        <activity
            android:name=".workspace.ui.activity.WorkspaceActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
